#login-form {
    max-width: 500px;
    margin: 20px auto;
}

button {
    margin-bottom: 10px;
}

a button {
    color: #333333;
    background-color: inherit;
    box-shadow: none;
    border: none;
}

.form-field {
    margin-bottom: 15px;
}

.kakao-login, .naver-login {
    text-align: center;
    margin-bottom: 10px;
}

.kakao-login {
    background-color: #f7e317;
}

.naver-login {
    background-color: #00c73c;
}
